/*---------- GENERALES ----------*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600;900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* reset */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.grid-contenedor {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 150px;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

body {
  font-family: 'Tinos', serif; }

h2 {
  text-align: center;
  color: black; }

h4 {
  color: darkgoldenrod; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px; }
  .whatsapp img {
    width: 80px;
    height: 80px; }

/*---------- VARIABLES ----------*/
/*---------- LISTA ----------*/
/*---------- MAPAS ----------*/
/*---------- EXTEND ----------*/
.principal .destacados h2, .principal .propio h2, .envios h2, .somos h2, .preguntas h2 {
  font-size: 50px;
  padding: 20px; }

/*---------- MIXINS ----------*/
/*---------- HEADER ----------*/
header {
  grid-area: header;
  background: #888577;
  background: linear-gradient(346deg, rgba(136, 133, 119, 0.60548) 49%, rgba(122, 122, 135, 0.160102) 84%, rgba(205, 209, 213, 0.485032) 100%);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*display: flex;
    justify-content: space-between;
    align-items: center;*/
  padding: 10px; }
  header a img {
    width: 300px;
    height: 80px; }
  header nav ul {
    list-style: none;
    display: flex; }
    header nav ul li {
      margin: 10px 15px; }
      header nav ul li a {
        text-decoration: none;
        color: black;
        transition: 0.8s; }
        header nav ul li a:hover {
          color: #b5ecec; }

/*---------- MAIN ----------*/
.principal {
  grid-area: main; }
  .principal .hero {
    color: black;
    width: 100%;
    height: calc(100vh - 104px);
    background-image: url(../img/ventana.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    display: flex;
    justify-content: column;
    align-items: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/ }
    .principal .hero h1 {
      font-size: 70px;
      padding: 20px; }
    .principal .hero p {
      font-size: 35px;
      text-align: center; }
  .principal .destacados h2 {
    /*font-size: 50px;
            padding: 20px;*/ }
  .principal .destacados .grid-destacados {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 15px; }
    .principal .destacados .grid-destacados div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: -21px 22px 24px -17px #917777;
      -webkit-caja-sombra: -21px 22px 24px -17px #917777;
      -moz-box-shadow: -21px 22px 24px -17px #917777; }
  .principal .destacados a {
    flex-direction: column;
    text-decoration: none;
    /*flex-direction: column;
                text-decoration: none;
                font-weight: bolder;*/
    color: black;
    background-color: #cac2c2;
    padding: 10px;
    margin: 50px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;
                justify-content: center;
                align-items: center;*/ }
  .principal .destacados .maceta {
    grid-column: span 3; }
  .principal .destacados .florer {
    grid-area: span 2; }
  .principal .destacados .florero {
    grid-column: span 2; }
  .principal .destacados .cuencos {
    grid-column: span 2; }
  .principal .propio p {
    font-size: 35px;
    text-align: center;
    padding: 20px; }
  .principal .carrusel .carousel-inner {
    border-radius: 400px; }
    .principal .carrusel .carousel-inner .carousel-item img {
      object-fit: fill;
      width: 1200px;
      height: 600px; }
    .principal .carrusel .carousel-inner .carousel-item div h5 {
      text-align: center;
      font-size: 40px; }
    .principal .carrusel .carousel-inner .carousel-item div p {
      text-decoration: none;
      text-align: center;
      font-size: 30px; }
  .principal .anotate {
    text-align: center;
    font-size: 40px; }
    .principal .anotate h3 {
      font-family: unset;
      font-size: 40px; }
    .principal .anotate div {
      color: black;
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      /*display: flex;
            justify-content: center;
            text-align: center;*/
      font-size: 20px;
      flex-direction: column;
      align-items: center; }
      .principal .anotate div a {
        text-decoration: none;
        /*text-decoration: none;
                font-weight: bolder;*/
        color: black;
        background-color: #cac2c2;
        padding: 10px;
        margin: 20px; }

/*---------- CONTACTO ----------*/
.contacto h2 {
  font-size: 50px;
  padding: 40px; }

.contacto div {
  color: black;
  width: 100%;
  height: 300px;
  text-align: center;
  font-size: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: flex;
        justify-content: center;
        align-items: center;*/
  padding: 20px;
  margin: 20px; }

.contacto div a {
  text-decoration: none;
  font-weight: bolder;
  /*text-decoration: none;
            font-weight: bolder;*/
  color: black;
  background-color: #cac2c2;
  padding: 20px;
  margin: 20px; }

/*------------- ENVIOS ----------*/
.envios {
  width: 100%;
  height: 800px; }
  .envios p {
    font-family: unset;
    color: black;
    font-size: 25px;
    padding: 20px;
    text-align: center; }

/*---------- NOSOTROS ----------*/
.somos {
  width: 100%;
  height: 500px; }
  .somos div p {
    color: black;
    font-size: 30px;
    padding: 30px;
    text-align: center; }

/*---------- PREGUNTAS ----------*/
.preguntas {
  width: 100%;
  height: 990px; }
  .preguntas p {
    font-family: unset;
    color: black;
    font-size: 25px;
    padding: 20px;
    text-align: center; }

/*---------- PRODUCTOS ----------*/
.grid-productos {
  width: 100%; }
  .grid-productos h2 {
    font-size: 50px;
    padding: 30px; }
  .grid-productos img {
    width: 240px;
    height: 250px;
    padding: 10PX; }
  .grid-productos .productos-contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .grid-productos .productos-contenedor div {
      border: 3px solid #cac2c2;
      width: 250px;
      height: 350px;
      margin: 30px;
      text-align: center;
      box-shadow: -11px 32px 34px -7px #917777;
      -webkit-caja-sombra: -21px 32px 34px -17px #917777;
      -moz-box-shadow: -21px 22px 24px -17px #917777; }
    .grid-productos .productos-contenedor img {
      transition: 2s; }
      .grid-productos .productos-contenedor img:hover {
        transform: scale(1.1); }
    .grid-productos .productos-contenedor h4 {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 20px; }
    .grid-productos .productos-contenedor p {
      color: red;
      margin-top: 20px;
      font-size: x-large; }

/*---------- FOOTER ----------*/
.pie {
  grid-area: footer;
  height: 90vh;
  background: #888577;
  background: linear-gradient(346deg, rgba(136, 133, 119, 0.952819) 8%, rgba(122, 122, 135, 0.9052) 54%, rgba(205, 209, 213, 0.485032) 100%); }
  .pie .seguinos {
    padding: 20px; }
    .pie .seguinos h2 {
      font-size: 50px;
      padding: 40px; }
    .pie .seguinos div {
      padding: 30px;
      margin: 20px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      /*display: flex;
            justify-content: space-evenly;
            align-items: center;*/ }
      .pie .seguinos div a img {
        width: 100px;
        height: 100px; }
  .pie .todo {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*display: flex;
        justify-content:space-around;
        align-items: center;*/ }
    .pie .todo div ul li a {
      text-decoration: none;
      list-style: none;
      /*text-decoration: none;
                        list-style: none;*/
      color: black; }
    .pie .todo .contactanos p {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 2px; }

/*---------- MEDIAQUERY ----------*/
@media screen and (max-width: 950px) {
  /*---------- INDEX-GENERALES ----------*/
  header {
    flex-direction: column; }
  .principal .hero h1 {
    font-size: 50px; }
  .principal .hero p {
    font-size: 25px; }
  .principal .destacados h2 {
    font-size: 30px; }
  .principal .destacados .grid-destacados {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 220px; }
    .principal .destacados .grid-destacados .grid-item {
      grid-column: span 1;
      grid-row: span 1; }
    .principal .destacados .grid-destacados .cuencos {
      grid-column: span 2; }
  .principal .destacados a {
    font-size: 20px; }
  .principal .propio h2 {
    font-size: 30px; }
  .principal .propio p {
    font-size: 25px; }
  .principal .carrusel .carousel-inner .carousel-item img {
    width: 800px;
    height: 400px; }
  .principal .carrusel .carousel-inner .carousel-item div h5 {
    font-size: 30px; }
  .principal .carrusel .carousel-inner .carousel-item div p {
    font-size: 20px; }
  .principal .anotate h3 {
    font-size: 30px; }
  /*---------- FOOTER ----------*/
  .pie .seguinos h2 {
    font-size: 30px; }
  /*---------- PRODUCTOS ----------*/
  .grid-productos h2 {
    font-size: 30px; }
  /*----------- NOSOTROS ----------*/
  .somos h2 {
    font-size: 30px; }
  .somos div p {
    font-size: 25px; }
  /*---------- ENVIOS ----------*/
  .envios h2 {
    font-size: 30px; }
  .envios p {
    font-size: 25px; }
  /*---------- PREGUNTAS FRECUENTES ----------*/
  .PREGUNTAS H2 {
    font-size: 30px; }
  .PREGUNTAS P {
    font-size: 25px; } }

@media screen and (max-width: 750px) {
  /*---------- FOOTER ----------*/
  .pie .todo {
    flex-direction: column;
    height: 100%;
    background: #888577;
    background: linear-gradient(346deg, rgba(136, 133, 119, 0.952819) 8%, rgba(122, 122, 135, 0.9052) 54%, rgba(205, 209, 213, 0.485032) 100%); } }

@media screen and (max-width: 650px) {
  /*---------- INDEX-GENERALES ---------*/
  header nav ul {
    flex-direction: column;
    text-align: center; }
    header nav ul li {
      margin: 2px; }
  .principal .hero h1 {
    font-size: 40px; }
  .principal .hero p {
    font-size: 20px; }
  .principal .hero .destacados h2 {
    font-size: 25px; }
  .principal .hero .destacados a {
    font-size: 15px; }
  .principal .propio h2 {
    font-size: 25px; }
  .principal .propio p {
    font-size: 20px; }
  .principal .carrusel .carousel-inner .carousel-item img {
    width: 500px;
    height: 300px; }
  .principal .anotate h3 {
    font-size: 20px; }
    .principal .anotate h3 div a {
      font-size: 15px; }
  /*---------- FOOTER ----------*/
  .pie .seguinos h2 {
    font-size: 25px; }
  .pie .todo {
    flex-direction: column; }
  /*---------- PRODUCTOS ----------*/
  .grid-productos h2 {
    font-size: 25px; }
  /*---------- NOSOTROS ----------*/
  .somos h2 {
    font-size: 25px; }
  .somos div p {
    font-size: 20px; }
  /*---------- ENVIOS ----------*/
  .envios h2 {
    font-size: 25px; }
  .envios p {
    font-size: 20px; }
  /*---------- CONTACTO ----------*/
  .contacto h2 {
    font-size: 25px; }
  /*---------- PREGUNTAS FRECUENTES ----------*/
  .preguntas h2 {
    font-size: 25px; }
  .preguntas p {
    font-size: 20px; } }

@media screen and (max-width: 450px) {
  /*---------- INDEX-GENERALES ----------*/
  header nav ul {
    flex-direction: column;
    text-align: center; }
    header nav ul li {
      margin: 1px; }
  .principal .hero h1 {
    font-size: 30px; }
  .principal .hero p {
    font-size: 20px; }
  .principal .hero .destacados .grid-destacados {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 220px; }
    .principal .hero .destacados .grid-destacados .grid-item {
      grid-column: span 1;
      grid-row: span 1; }
  .principal .envios {
    height: 950px; } }

@media screen and (max-width: 420px) {
  /*---------- FOOTER ----------*/
  .mapa iframe {
    width: 300px;
    height: 300px; }
  /*---------- ENVIOS ----------*/
  .envios {
    height: 1110px; }
  /*---------- PREGUNTAS FRECUENTES ----------*/
  .preguntas {
    height: 1100px; } }
